@model IEnumerable<QuaySo.Models.GiaiThuong>

<span style="float:right;" id="listgiai">


    @foreach (var item in Model.OrderBy(z => z.STT))
    {
        <a id="giai_@item.ID" href="/home/index#giai_@item.ID" class="btn btn-outline-warning btn-sm giai" data-ID="@item.ID" data-image="xeairbale.png">@item.TenGiai</a>

    }
</span>
